/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* purgecss end ignore */

:root {
  /* --primaryGrey: #222222; */
  --primaryGrey: #DBDADB;
  --primaryDarkGrey: #393A3C;
  --primaryLightBlue: #0F8FDC;
  --white: #ffffff;
}

body{
  background-color: var(--primaryGrey);
  color: var(--primaryDarkGrey);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  color: var(--primaryDarkGrey);
}

h2 {
  color: var(--primaryDarkGrey);
  font-weight: 900;
}

h3, h5 {
  color: var(--primaryLightBlue);
}

p {
  color: var(--primaryDarkGrey);
}
/* for background hero photo and action background on homepage*/
.gradient {
    background-image: url("https://images.ctfassets.net/1qq6mgrp27zi/1wHldEvE4A8AFGzU9LoAYL/88aeb966edb3ff2856e5dfb83e14d100/Image__7_.jpeg?w=2100");
    background-position-x: 37%;
    background-position-y: 33%;
}

.main-header{
  min-height: 50vh;;
}

.header-box{
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.65);
  visibility: inherit;
  transition: none 0s ease 0s;
  border-width: 0px;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  padding: 50px 15px;
  margin-top: 45px;
}

.home .main-header{
  min-height: 87vh;;
}

.home .header-box{
  margin-top: 100px;
}

/* for header */
#menu-toggle:checked+#menu {
  display: block;
  position: absolute;
  top: 66px;
  left: 0;
}

#dropdown-toggle:checked+#dropdown {
  position: absolute;
  top: 66px;
  left: 0;
}

nav {
  background-color: var(--primaryGrey);
}

.header-logo{
  max-width: 196px;
}

.large-header-logo{
  max-width: 440.031px;
  margin: auto;
}

a.nav:hover{
  color: var(--primaryLightBlue);
}

/* Footer */

.free-quote{
  background-color: var(--primaryDarkGrey);
}

footer {
  background-color: var(--primaryGrey);
}

/* Buttons */
.primary-btn {
  background-color:var(--primaryLightBlue);
  color:  white;
  border: 1px solid var(--primaryLightBlue);
  font-weight: bold;
}

.primary-btn:hover {
  background-color:  white;
  color: var(--primaryLightBlue);
}

/* service homepage section */
.title-overlay{
  width: 96.5%;
  background: hsla(0,0%,100%,.65);
  color: #0F8FDC;
  opacity: .95;
  padding-top: 15px;
  padding-bottom: 15px;  
}

/* .services-img{
  height: 300px;
} */

.parent {
  height: 300px;
  overflow: hidden;
}

.services-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.parent:hover .services-img, .parent:focus .services-img {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.vehicle-img{
  max-height: 435px;
  object-fit: cover;
}


/* Team member */
.team-member{
  width: 60%;
  margin: auto;
}

/* about page */
.our-projects li {
  list-style-type: square;
}

.roofing-services li {
  list-style-type: square;
  margin-left: 20px;
}

/* services page */
div.box_service {
  text-align: center;
  margin-bottom: 25px;
  padding: 30px 30px 5px;
  background-color: #fff;
  position: relative;
  display: block;
  color: #555;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.about-us div.box_service {
  height: 100%;
}

.box_service span {
  background-color: #ccc;
  width: 20px;
  height: 20px;
  display: block;
  top: 15px;
  right: 15px;
  position: absolute;
  line-height: 1;
  font-size: 20px;
  color: white;
  border-radius: 50px;
}

.box_service div{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  margin: auto;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  color: #3cb878;
  background-color: rgba(121,184,151,.15);
}

.box_service div img {
  width: 75px;
  margin: auto;
  padding-top: 9px;
}

.box_service p {
  margin-bottom: 25px;
  color: #222222
}

.product-image-array .slick-prev {
  left: 25px;
  z-index: 50;
  top: 200px;
}

.product-image-array .slick-next {
  right: 25px;
  z-index: 50;
  top: 200px;
}

.product-feature-image .cover {
  -o-object-fit: cover;
  padding: 40px;
  object-fit: cover;
  max-height: 450px;

}

.product-feature-image .slick-slider .slick-arrow {
  height: 35px;
  width: 35px;
  /* border: 1px solid white; */
  border-radius: 1px;
  /* background-color: white; */
  margin-right: 22px;
  margin-left: 22px;
}
.product-feature-image .slick-prev:before, .product-feature-image .slick-next:before {
  box-sizing: border-box;
  height: 13.38px;
  width: 6.18px;
  /* color: white; */
  line-height: inherit;
}
.product-feature-image .slick-prev {
  left: 10px;
  z-index: 1;
}
.product-feature-image .slick-next {
  right: 10px;
}
.product-feature-image .slick-prev:hover, .product-feature-image .slick-next:hover {
  /* border: 3px solid white; */
}

.slick-slide img {
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  /* color: white; */
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  /* color: white; */
}

ul.slick-dots.slick-thumb.product-thumbs {
  position: initial
}

.slick-dots li, .slick-dots li button {
    width: auto;
    height: auto;
}

img.sm-img-cover {
  height: 120px;
  width: auto;
}


.about-us .product-feature-image .cover {
  max-height: 600px;
  min-height: 600px;
  width: 80%;
}

.about-us .product-image-array .slick-next{
  display: none !important;
}

.about-us .product-image-array .slick-prev{
  display: none !important;
}

.services .product-feature-image .cover {
  max-height: 400px;
  min-height: 400px;
  width: 80%;
}

.services .product-feature-image .cover {
  padding: initial;
}
.services .product-image-array .slick-next{
  display: none !important;
}

.services .product-image-array .slick-prev{
  display: none !important;
}

/*Scroll To Top Btn  */
.scroll-to-top {
  position: fixed;
  top: 85%;
  right: 20px;
  z-index: 10;
}



@media only screen and (max-width: 769px) {
  .gradient {
    background-position: 50%;
  }

  .header-box{
    margin-top: 30px;
  }

  .large-header-logo{
    max-width: 100%
  }
  
  nav {
    color: #222222;
  }

  div#menu{
    z-index: 9;
  }

  .about-us div.box_service {
    height: initial;
  }

  .about-us .product-feature-image .cover {
    width: 100%;
    padding: initial;
    max-height: 400px;
  }

  .services .product-feature-image .cover {
    width: 100%;
    padding: initial;
  }
}

.about-img{
  height: 395.625px;
  object-fit: cover;
  width: 100%;
}

.services-page-success-modal {
  height: 111vh;
  background: linear-gradient(180deg,rgba(57 58 60/92%),rgba(245,246,252,.52));
  top: -1px;
  position: absolute;
  z-index: 99;
}

.eapps-widget-toolbar {
  display: none !important;
}

.kJrSTW {
  max-width: 1600px !important;
}